version: '3s'

services:
  web:
    build: .
    depends_on:
      - db
    volumes:
      - ./:/app
#    entrypoint: ["uvicorn", "main:app", "--host", "0.0.0.0", "--port", "8080"]
    command: bash -c "uvicorn main:app --host 0.0.0.0 --port 8080 && alembic upgrade head"
    environment:
      - DATABASE_URL=postgresql+asyncpg://postgres:Bright#1270@db:5432/todos
    ports:
      - "8000:8080"
  db:
    image: postgres:15-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    expose:
      - 5432
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=Bright#1270
      - POSTGRES_DB=todos

volumes:
  postgres_data: