<!DOCTYPE html>
<html lang="en">
<head>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', path='/css/base.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', path='/css/bootstrap.css') }}">
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>

{% if logout == True %}
<div class="button-danger">
    <button type="button" id="logoutButton" class="btn btn-outline-danger">Logout</button>
</div>
{% endif %}

{% block content %}

{% endblock %}

<script src="{{ url_for('static', path='/js/jquery-slim.js') }}"></script>
<script src="{{ url_for('static', path='/js/popper.js') }}"></script>
<script src="{{ url_for('static', path='/js/bootstrap.js') }}"></script>
<script src="{{ url_for('static', path='/js/base.js') }}" defer></script>
</body>
</html>